# Importing pandas library

In [13]:
import pandas as pd

# 1. Create a list consists of ten names. Use the list to store the list elements in DataFrame. Display the created dataframe.

In [21]:
l=['OM','SAI','RAM','SHYAM','GANESH','GEETA','RITA','SITA','RADHA','SHIDHI']
df=pd.DataFrame(l)
print(df)

        0
0      OM
1     SAI
2     RAM
3   SHYAM
4  GANESH
5   GEETA
6    RITA
7    SITA
8   RADHA
9  SHIDHI

# 2. Create DataFrame from Dictionary which is consists of lists. Create following dictionary consists of three keys and each of them contain corresponding list of values. 
     d = {'Studentâ€™: ['Rutvik', 'Pankti', 'Evaan', 'Dhyan'], 
             'City': ['Pune', 'Delhi', 'Surat', 'Houston'], 
              'Age': [22, 16, 5, 13]}

In [22]:
d = {'Student': ['Rutvik', 'Pankti', 'Evaan', 'Dhyan'], 
        'City': ['Pune', 'Delhi', 'Surat', 'Houston'], 
         'Age': [22, 16, 5, 13]} 
print('DataFrame is successfully created.')

DataFrame is successfully created.

# 3. Store above dictionary in dataframe and display the created dataframe.

In [23]:
df=pd.DataFrame(d)
df

  Student     City  Age
0  Rutvik     Pune   22
1  Pankti    Delhi   16
2   Evaan    Surat    5
3   Dhyan  Houston   13