# Importing pandas library

In [9]:
import csv
import pandas as pd

# 1.	Write 5 records using writer object in file.

In [10]:
def Q1():
    with open('salary.csv','w',newline='') as sal:
        data=[['Empid','Empname','Department','Experience','Salary'],
              [1,'ABC','BCA','4 Years',40000],
              [2,'DEF','BBA','3 Years',30000],
              [3,'GHI','MCA','2 Years',20000],
              [4,'JKL','MBA','3 Years',30000],
              [5,'MNO','MCA','5 Years',50000]]
        w=csv.writer(sal)
        w.writerows(data)
    print('Data are Successfully Written.')

# 2.	Read file using reader object and print file in proper format.

In [11]:
def Q2():
    with open('salary.csv','r',newline='') as sal:
        r=csv.reader(sal)
        for i in sal:
            print(i)

# 3.	Append 2 record into file and display it.

In [13]:
def Q3():
    with open('salary.csv','a',newline='') as sal:
        data=[[6,'PQR','BCA','6 Years',60000],
              [7,'XYZ','MBA','4 Years',40000]]
        w=csv.writer(sal)
        w.writerows(data)
    Q2()

# 4.	Read data from file and print total salary of “BCA” department.

In [15]:
def Q4():
    with open('salary.csv','r',newline='') as sal:
        data=csv.DictReader(sal)
        l=[]
        s=0
        for i in data:
            d=i['Department']
            if d=='BCA':
                s+=int(i['Salary'])
        print('The total Salary of BCA Department is : {}'.format(s))

# 5.	Read file using PANDA library and display records.

In [16]:
def Q5():
    df=pd.read_csv('salary.csv')
    print(df)

In [17]:
Q1()

Data are Successfully Written.

In [18]:
Q2()

Empid,Empname,Department,Experience,Salary

1,ABC,BCA,4 Years,40000

2,DEF,BBA,3 Years,30000

3,GHI,MCA,2 Years,20000

4,JKL,MBA,3 Years,30000

5,MNO,MCA,5 Years,50000

In [19]:
Q3()

Empid,Empname,Department,Experience,Salary

1,ABC,BCA,4 Years,40000

2,DEF,BBA,3 Years,30000

3,GHI,MCA,2 Years,20000

4,JKL,MBA,3 Years,30000

5,MNO,MCA,5 Years,50000

6,PQR,BCA,6 Years,60000

7,XYZ,MBA,4 Years,40000

In [20]:
Q4()

The total Salary of BCA Department is : 100000

In [21]:
Q5()

   Empid Empname Department Experience  Salary
0      1     ABC        BCA    4 Years   40000
1      2     DEF        BBA    3 Years   30000
2      3     GHI        MCA    2 Years   20000
3      4     JKL        MBA    3 Years   30000
4      5     MNO        MCA    5 Years   50000
5      6     PQR        BCA    6 Years   60000
6      7     XYZ        MBA    4 Years   40000